.u-section-1 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3.75rem;
  width: 712px;
  margin: 18px auto 0;
}

.u-section-1 .u-line-1 {
  width: 141px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  width: 800px;
  font-style: italic;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 460px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: -63px auto 55px;
}

.u-section-1 .u-btn-11 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}